@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

.App {
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;

  padding: 1rem 0.2rem;
  margin: auto;
  background: white;
  max-width: 400px;
  opacity: 0.9;
  border-radius: 1rem;
}
body {
  color: white;
  background-image: url("series-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Bg {
  background-color: #6b7280;
  border: 1px solid none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  width: max-content;
  margin: auto;
  margin-bottom: 1.5rem;
}
